<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 8</title>
</head>
<body>
    <h1>Lab 8</h1>
    <br>
    <form action="/" method="POST">
        <label for="students[firstName">First Name: </label>
        <input type="text" name="students[firstName]">
        <br>
        <label for="students[lastName]">Last Name: </label>
        <input type="text" name="students[lastName]">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>